.project {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: auto;
}
.project-header {
  padding: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--color-border);
}
.project-header .btns {
  gap: 0.2rem;
}
.project-header .btns span {
  padding: 0.5rem;
  border-radius: 50%;
  transition: transform 200ms ease;
}
.project-header .btns span:hover {
  background-color: var(--color-foreground);
  transform: rotate(30deg);
}
.project-info {
  border-bottom: 2px solid var(--color-border);
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.project-info > * {
  padding: 0.5rem 1rem;
}
.project-info > * > span:first-child {
  font-weight: 500;
}
.project-priority-details {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.project-priority-details ul {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5em;
}
.project-priority-details ul li {
  display: flex;
  gap: 5px;
  align-items: center;
}
.priority-span {
  display: inline-block;
  border-radius: 50%;
  width: 0.8em;
  height: 0.8em;
  background-color: black;
}
.priority-span.high {
  background-color: var(--color-primary);
}
.priority-span.medium {
  background-color: #fdcb6e;
}
.priority-span.low {
  background-color: rgb(73, 72, 72);
}
.project-todo-list {
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}
.project-todo:first-child {
  justify-content: center;
  gap: 0.2rem;
}
.project-todo {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  border-bottom: 2px solid var(--color-border);
  padding: 0.2rem 0.5rem;
  word-wrap: break-word; /* legacy but still works */
  overflow-wrap: break-word; /* modern standard */
  white-space: normal;
  border-radius: 0.3rem 0.3rem 0 0;
  font-size: 1rem;
}
.project-todo:hover,
.project-todo.active {
  background: var(--color-foreground);
}
.todo-btns {
  font-size: 1.2rem;
  display: flex;
  gap: 0.5rem;
}
.todo-btns > span {
  padding: 5px;
  border-radius: 50%;
  transition: transform 200ms ease;
}
.todo-btns > span:hover {
  background-color: var(--color-background);
  transform: rotate(15deg);
}
@media only screen and (max-width: 1200px) {
  .project-header {
    padding: 0.5rem;
  }
  .project-todo-list {
    padding: 0.5rem;
  }
}
